<div class="container-fluid">
    <div class="row">
        <div class="col-12 title-container text-center p-5 border">
            <span class="title">{{translations.Base.title}}</span>
        </div>
    </div>
    <div class="row justify-content-center mt-5 mb-3 border">
        <div class="col-8 text-right">
            <button class="btn btn-primary" (click)="handleAddOrEditClick(addEditDiaryModalScenarios.ADD)">{{translations.Base.buttonAddText}}</button>
        </div>
    </div>
    <div class="row justify-content-center border">
        <div class="col-8">
            <app-list [items]="diaryItems" (onEdit)="handleAddOrEditClick(addEditDiaryModalScenarios.EDIT, $event)" (onRemove)="handleRemoveClick($event)"></app-list>
        </div>
    </div>
</div>

<app-add-edit-diary-modal (onAdd)="handleAddItem($event)" (onEdit)="handleEditItem($event)"></app-add-edit-diary-modal>
<app-remove-warning-modal (onRemove)="handleRemove($event)"></app-remove-warning-modal>